/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px "Open Sans", sans-serif;
	color: #555;
	-webkit-tap-highlight-color: transparent;
}

ul,nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #283149;
	opacity: 1;
}

section:not(.hero):nth-child(even) {
	background-color: #f3ecc8;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #283149;
	border: 0;
	margin-bottom: 50px;
}

section h3.title {
	text-transform: capitalize;
	letter-spacing: 0.2em;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
	color: #666666;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/*Header Styles*/

.navbar {
	position: fixed;
	z-index: 3;
	width: 100%;
	font-size: 18px;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
  }

  @keyframes fadein {
	100% {
		opacity: 1;
	}
}
  
  
  .main-nav{
	list-style-type: none;
	display: none;
  }
  
  .brand {
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	font-size: 2rem;
	margin-top: 10px;
	margin-left: 20px;
	text-decoration: none;
	font-weight: bolder;
	color: #fff;
  }
  
  .brand .fa {
	font-size: 40px;
  }
  .nav-links,
  .brand {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
  }
  
  .main-nav li{
	font-size: 1.2rem;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	margin: 8px auto;
  }

  .main-nav li:hover {
	border: 2px solid #fff;
  }

  .visible {
	border: 2px solid #fff;
  }

  .navbar-toggle {
	position: absolute;
	top: 16px;
	right: 20px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	font-size: 24px;
  }

  .active {
	display: block;
	 background-color: #283149; 
  }
  
  @media screen and (min-width: 768px) {
	.navbar {
	  display: flex;
	  justify-content: space-between;
	  padding-bottom: 0;
	  height: 70px;
	  align-items: center;
	}
  
	.main-nav {
	  display: flex;
	  background-color: transparent;
	  margin-right: 12px;
	  flex-direction: row;
	  justify-content: flex-end;
	}
  
	.nav-links {
	  margin-left: 30px;
	  margin-top: 10px;
	  margin-right: 20px;

	}
  
	.brand {
	  margin-top: 0;
	}
  
	.navbar-toggle {
	  display: none;
	}
  }


/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	z-index: -1;
	background-color: #283149;
}	

.hero .display-picture{
	width: 30%;
	padding: 5px;
	border: 3px solid #fff;
	border-radius: 50%;
}

.hero h1 {
	font-family: "Monoton", cursive;
	font-size: 3rem;
    font-weight: 300;
	margin-bottom: 15px;
}

.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
	border: 1px solid #fff;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 750px) {

	.hero .display-picture {
		width: 50%;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

}

/*About Section*/

.about {
	flex-direction: column;
	text-align: center;
}

.about hr{
	margin: 50px auto;
}

.about .btn {
	padding: 18px 42px;
	border: 1px solid #283149;
}

.about .contact{
	background-color: #fff;
	color: #283149;
}

@media (max-width: 370px) {
	.about .btn {
		display: block;
		margin-bottom: 8px;
	}
}

/*Skills Section*/

.skills .domains{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;

}

.skills .domains .card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	flex-basis: 30%;
	justify-content: center;
	margin: 12px;
	padding: 40px;
	/* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
}
.skills .domains .lnr {
	color: #283149;
	font-size: 3em;
}

.skills .domains .card ul i {
	color: #283149;
}
.skills .domains .card li {
	font-size: 0.92em;
	line-height: 2em;
}

.skills .domains .card h4 {
	align-self: center;
	font-size: 1.2em;
	margin: 25px 0;
}

.skills .domains .card p {
	font-size: 0.92em;
	line-height: 1.5em;
}

.lnr{
	font-size: 4em;
}

@media (max-width: 900px) {
	.skills .domains .card{
		flex-basis: 100%;
		padding: 20px;
	}
}

/*Projects Section*/

.projects .grid li {
	height: 350px;
	padding: 20px;
	background-color: #f5f5f5;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.projects .grid li.quizadda {
	background-image: url(../img/quizadda.jpg);
}

.projects .grid li.devfest {
	background-image: url(../img/devfest.jpg);
}

.projects .grid li.git-space {
	background-image: url(../img/git-space.jpg);
}

.projects .grid li.lights-out {
	background-image: url(../img/lights-out.jpg);
}

.projects .grid li div {
	visibility: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
}

.projects .grid li div h2 {
	padding-bottom: 8px;
}
.projects .grid li div .btn {
	background-color: #fff;
	padding: 8px 16px;
	color: #283149;
}

.projects .grid li div p {
	font-family: "Open Sans", sans-serif;
	color: #fff;
	line-height: 1.8em;
}

.projects .grid li:hover {
	background-image: none;
	background-color: hsl(224, 29%, 22%);
	/* transition: all 0.5s ease-in; */
}

.projects .grid li:hover div {
	cursor: pointer;
	visibility: visible;
}


.projects .grid li.small {
	flex-basis: 30%;
}

.projects .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	.projects .grid li.small,
	.projects .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.projects .grid li.small,
	.projects .grid li.large {
		flex-basis: 100%;
	}
}

/*Contact Section*/

.contact form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 60%;
}

.contact form button {
	text-decoration: none;
	padding: 18px 42px;
	border-radius: 4px;
	text-transform: uppercase;
	font: normal 16px "Open Sans", sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #283149;
	color:#fff;
	opacity: 1;
}

.contact form input {
	padding: 15px;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
	flex: 1;
}

@media (max-width: 1000px) {
	.contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}

/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #283149;
	color: #fff;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer ul li {
		margin: 0 8px;
	}
} 














